<!-- templates/bin_details.html -->
<!-- ゴミ箱の詳細画面ページ -->
 
{% extends 'layout.html' %}

{% block content %}
<h2>ゴミ箱 {{ bin[0] }} の詳細</h2>
<p>設置場所: {{ bin[1] }}</p>

<!-- フラッシュメッセージを表示 -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="flash-{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<ul>
    {% for result in results %}
        <li class="garbage-item">
            <img src="{{ url_for('static', filename='icons/' ~ result[0] ~ '.svg') }}" alt="{{ result[0] }}" class="garbage-icon">
            {% if result[3] >= 80 %}
                <span class="percentage high">
            {% elif result[3] >= 50 %}
                <span class="percentage medium">
            {% else %}
                <span class="percentage low">
            {% endif %}
                {{ result[0] }}: {{ result[3] | round(2) }}%
            </span>
        </li>
    {% endfor %}
</ul>
{% endblock %}